<main class="container-update-blog">
    <nav class="back">
        <a href="/admin_dash">&larr;<span> Back</span></a>
    </nav>
    <form action="/admin_dash/delete-blog/<%= data._id%>?_method=DELETE" method="POST" class="delete-btn">
        <input type="submit" value="Delete" id="delete">
    </form>
    <section class="update-blog-post">
        <h1>Update Blog </h1>
        <form action="/admin_dash/edit-blog/<%=data._id %>?_method=PUT" method="POST" >
            <input type="text" name="title" placeholder="Blog Title Here" id="title" required value="<%= data.title%>">
            <input type="text"rows="2" name="description" placeholder="Blog Description Here" id="description" required value="<%= data.description%>">
            <input type="file" name="imageBlog" id="imageBlog">
            <textarea id="content" class="content" placeholder="Content Of Blog Goes Here" name="content" required cols="50" rows="10"><%= data.content%></textarea>
            <input type="submit" value="Update" id="update" >
        </form>
    </section>
</main>