<section class="update-blog search-blog">
    <ul class="blog-list-elements">
        <% data.forEach(element => { %>
                <li class="blog-elements">
                    <a href="/blog/<%= element._id %>">
                        <div class="same-line">
                            <h1><%= element.title%></h1>
                            <ul class="option"> 
                                <form action="/admin_dash/delete-blog/<%= element._id %>?_method=DELETE" method="POST">
                                    <button type="submit"><i class="fa-solid fa-trash" style="color: #000000;"></i></button>
                                </form>
                                <a href="admin_dash/edit-blog/<%= element._id%>"><i class="fa-solid fa-pen-to-square" style="color: #000000;"></i></a>
                            </ul>
                        </div>
                        
                        <p><%= element.description%><span><%= element.createdAt.toDateString() %></span></p>
                    </a>
                    
                </li>
        <% }) %>
    </ul>
    
</section>