<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>About me</title>
        <link rel="stylesheet" href="index.css">

    </head>
<body>
    <section class="about">
        <div class="about-me-img">
            <img src="../images/me.png">
        </div>
        <div class="greeting">
            <h1>
                Hello, I'm Zainab Jinari, a passionate SAAS and web engineering student. Welcome to my Learning Journal!
            </h1>
            <p class="why-bootcamp">
                This space is my sanctuary for documenting my journey as a SAAS and web engineering enthusiast. Here, I share my experiences, insights, and the exciting challenges I encounter while navigating the world of technology.
            </p>
        </div>
        
        <article>
            <h3>My Commitment to Lifelong Learning</h3>
            <p>
                I define myself as a lifelong learner, dedicating hours to expanding my knowledge. I enjoy turning my learnings into practical projects, experimenting with new techniques, and pushing the boundaries of what I can create.
            </p>
            <p>
                Beyond personal satisfaction, I believe in sharing my journey with the world, making the learning process more transparent and inspiring for others.
            </p>
            <hr>
            <h3>Embarking on the Learning Journey</h3>
            <p>
                My learning journey began with simple notes, gradually evolving into this comprehensive learning journal. After each study session, I not only reflect on what I've learned but also distill that knowledge into concise summaries using my own words.
            </p>
            <p>
                This approach not only helps me solidify my understanding but also serves as a valuable resource for others navigating similar paths. The Learning Journal is not just a collection of blogs; it's a space where I share experiences, insights, and a deep passion for SAAS and web engineering.
            </p>
        </article>

    </section>
    <section class="recent-posts" id="recent-posts">
            <h3>Recent posts</h3>
            <% for( let index = 0; index < 3; index++ ) { %>
                <a class="blog "href="/blog/<%= data[index]._id %>">
                    <img src="data:<%= data[index].img.contentType%>;base64,<%=data[index].img.imageBase64%>"  class="image-blog" alt="image of blog 2">
                    <p class="date"><%= data[index].createdAt.toDateString() %></p>
                    <h1 class="title"><%= data[index].title  %></h1>
                    <p class="description"><%= data[index].description %></p>
                    
                </a>
            <% } %>
    </section>
    
</body>
</html>