<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learning Journal</title>
    <link rel="stylesheet" href="index.css">
    
</head>
<body>
   
    <section class="blogs">
            <a class="blog one" href="/blog/<%= data[0]._id %>">
                <img src="data:<%=  data[0].img.contentType%>;base64,<%= data[0].img.imageBase64%>" class="image-blog first" alt="image of blog 1">
                <p class="date"><%= data[0].createdAt.toDateString() %></p>
                <h1 class="title"><%= data[0].title %></h1>
                <p class="description"><%= data[0].description %></p>

            </a>
            <% data.slice(1,).forEach(blog => { %>
                <a class="blog" href="/blog/<%= blog._id %>">
                    <img src="data:<%= blog.img.contentType%>;base64,<%=blog.img.imageBase64%>"  class="image-blog" alt="image of blog 2">
                    <p class="date"><%= blog.createdAt.toDateString() %></p>
                    <h1 class="title"><%= blog.title %></h1>
                    <p class="description"><%= blog.description %></p>
                    
                </a>
            <% }) %> 
            <% if (nextPage !== null) { %>
                <a href="/?page=<%= nextPage %>" class="see-more">See More</a>
            <% } %>
            
            

    </section>
    
    
</body>
</html>