<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= locals.title  %></title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto:wght@500&family=Smythe&display=swap" rel="stylesheet">
    <link href="https://fonts.cdnfonts.com/css/source-sans-pro" rel="stylesheet">
    <meta name="description" content="<%= locals.description  %>">
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <link rel="stylesheet" href="/css/style1.css" type="text/css">
    <link rel="stylesheet" href="/css/styleManage.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@400;700&family=Roboto:wght@500&display=swap" rel="stylesheet">
    <!--font awsome kit for icons-->
    <script src="https://kit.fontawesome.com/de0f1ce5ee.js" crossorigin="anonymous"></script>
    <script type="text/javascript" defer src="/js/script.js"></script>
</head>
<body>
    <%- include('../partials/header_admin.ejs') %>
    <%- body %>
    <%- include('../partials/footer.ejs') %>
</body>
</html>